html {
    font-size:10px;
    background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
    background-size: cover;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    /* 弹性盒子模型 子项目自动成为容器成员 成为flex项目*/
    display: -webkit-flex; /*兼容Google浏览器*/
    flex: 1;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: 0.4rem solid #000;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.7s ease;
    width: 10rem;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 0.5rem #000;
}

.playing {
    transform: scale(1.1);
    border-color:#ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ffc600;
}